@charset "utf-8";

@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 100; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 300; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 500; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 700; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 900; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); 
 } 

 @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset */
html, body {position: relative; width: 100%; height: 100%; margin: 0;}
* {margin: 0; padding: 0; list-style: none; text-decoration: none; font-family: 'Noto Sans KR', sans-serif; color: inherit; outline: none; -webkit-text-size-adjust: none; box-sizing: border-box;  margin-block-start: 0;margin-block-end: 0;margin-inline-start: 0px;margin-inline-end: 0px;border:0;}
a {color: inherit; text-decoration: none;}
table {border-collapse: collapse;}
caption {display: none;}
i {display: inline-block; width: 10px; height: 10px;}
button {box-sizing: border-box; background-color: transparent; box-shadow: none; border: none; cursor: pointer;}
select {box-sizing: border-box; padding: 0 20px; -webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; background: #fff url(../images/main/arrow_select.png) no-repeat 95% center;}
select::-ms-expand {display: none;}
img, fieldset{border: 0 none;}
img a {outline: none !important;border: none !important;}
a:hover, button:hover{cursor:pointer;}
button {cursor:pointer; border:none; background: transparent;}
button:focus {outline: none;}

.container {width: 90%; box-sizing: border-box; position: relative; margin: 0 auto; overflow: hidden;}

.text-hide{overflow:hidden; display:inline-block; border:0; margin:-1px; width:100%; height:auto; text-indent: -9999px;}
.screen_out {position: absolute !important; visibility: hidden !important; top: 0 !important; left: 0 !important; height: 0 !important; width: 0 !important; font-size: 0 !important; line-height: 0 !important; overflow: hidden !important;}

